@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
  background: #f0c84d;
  font-family: "figtree", sans-serif;
   height: 100vh;      /* full screen height */
  justify-content: center;   /* center left-right */
  align-items: center;        /* center up-down */
  padding: 50px;
}

.card {
  background: white;
  width: 350px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 0px black;
  height: 500px;
  margin: auto;
  display: block;
}

.card-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.tag {
  display: inline-block;
  background: #f0c84d;
  padding: 7px 12px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 900;
}

.date {
  font-size: 15px;
  color: #555;
  margin: 0 0 10px;
    font-weight: 700;

}

h2 {
  margin: 0;
  font-size: 22px;
}

.desc {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
    font-weight: 500;

}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
    font-weight: 800;

}

.author-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
